In [1]:
import pandas as pd

In [3]:
path = "C:/Users/Ufuk Altan/Downloads/Downloads/Data Science/PyFinance/04 - Intrinsic Value/"
df = pd.read_csv(path + '50-bvps.csv', index_col = 0)
df.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,...,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2021-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-30,3.85,16.31,164.89,314.17,41.31,17.82,303.74,18.67,24.49,NaN,...,NaN,70.71,5.22,-11.37,53.46,NaN,21.46,9.07,26.10,6.49
2020-06-30,4.22,15.63,147.16,304.34,38.75,11.53,284.80,18.28,23.92,NaN,...,NaN,71.97,4.47,-12.72,51.15,NaN,21.21,8.35,26.17,5.07
2020-03-31,4.53,15.09,130.81,297.76,36.94,10.85,270.69,17.75,23.28,NaN,...,NaN,77.62,3.34,-12.50,44.57,NaN,20.90,8.39,25.45,3.85
2019-12-31,5.10,14.47,124.62,292.65,35.43,8.25,309.39,17.95,22.59,NaN,...,NaN,77.15,2.82,-11.00,43.54,NaN,21.15,9.56,26.31,3.83

In [5]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2021-01-08', '2020-09-30', '2020-06-30', '2020-03-31',
               '2019-12-31', '2019-09-30', '2019-06-30', '2019-03-31',
               '2018-12-31', '2018-09-30',
               ...
               '2008-02-29', '2007-11-30', '2007-08-31', '2007-05-31',
               '2007-02-28', '2006-11-30', '2006-08-31', '2006-05-31',
               '2006-02-28', '2020-11-30'],
              dtype='datetime64[ns]', length=180, freq=None)

In [6]:
df = df.resample('Q', convention = 'end').agg('mean')

In [8]:
df = df.loc['2010-09-01':]

In [10]:
df.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,...,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2010-09-30,1.86,5.48,14.25,NaN,NaN,0.47,150.01,7.49,20.85,18.30,...,25.21,51.16,10.76,12.91,20.14,13.52,8.46,8.48,13.42,8.62
2010-12-31,2.12,5.77,15.22,NaN,NaN,0.44,154.89,7.67,20.66,18.98,...,26.83,52.71,10.76,13.89,20.98,13.81,8.59,8.94,13.78,8.14
2011-03-31,2.37,6.34,16.25,NaN,NaN,0.35,154.78,7.88,21.86,20.26,...,27.73,55.14,12.04,13.93,22.17,14.36,8.65,9.11,15.01,8.35
2011-06-30,2.67,6.82,17.10,NaN,NaN,0.67,156.35,7.98,22.67,19.54,...,28.65,58.13,12.33,14.49,24.15,14.92,8.82,9.44,15.57,8.49
2011-09-30,2.94,7.06,17.07,NaN,NaN,0.56,153.40,8.14,22.52,21.04,...,28.95,61.10,13.01,13.04,24.13,15.47,8.81,9.65,15.21,8.16

In [13]:
df = df.transpose()

In [16]:
result = pd.DataFrame(data = None, index =df.index)
result['10Y CAGR'] = (df['2020-09-30'] / df['2010-09-30']) ** (1/10) - 1
result['5Y CAGR'] = (df['2020-09-30'] / df['2015-09-30']) ** (1/5) - 1
result['1Y CAGR'] = (df['2020-09-30'] / df['2019-09-30']) ** (1/1) - 1

In [17]:
result

       10Y CAGR   5Y CAGR   1Y CAGR
AAPL   0.075461 -0.063686 -0.243615
MSFT   0.115237  0.109523  0.174226
AMZN   0.277432  0.441417  0.444376
GOOG        NaN  0.131984  0.113328
FB          NaN  0.229220  0.254098
TSLA   0.438404  0.547185  1.329412
BRK.A  0.073095  0.085873  0.047488
V      0.095636  0.067469  0.062607
JNJ    0.016221 -0.010827  0.106643
WMT    0.045845  0.023248  0.057586
JPM    0.072232  0.059081  0.055292
MA     0.046951  0.009462  0.190669
PG    -0.014104 -0.032760  0.039809
UNH    0.119058  0.156007  0.176586
DIS    0.091019  0.102613 -0.059939
NVDA   0.167079  0.237818  0.328816
HD          NaN       NaN -0.641509
PYPL        NaN  0.078800  0.126068
BAC    0.030567  0.048116  0.050068
VZ    -0.060269  0.351212  0.102881
ADBE   0.094288  0.122037  0.155303
CMCSA  0.093080  0.126091  0.100000
NFLX   0.463197  0.357702  0.493614
KO    -0.024956 -0.048035 -0.020704
NKE    0.015506 -0.048445 -0.001695
MRK   -0.047638 -0.066253  0.095644
PEP   -0.025979  0.011364 -0.035329
T      0.036290  0.065257  0.028936
PFE    0.007051  0.016382 -0.002538
INTC   0.078417  0.085488  0.065612
CRM    0.331323  0.438594  0.923217
ABT    0.025212  0.046286 -0.015461
ORCL  -0.063423 -0.212586 -0.417678
ABBV        NaN  0.238661 -2.557554
CSCO   0.013459 -0.052823  0.132911
TMO    0.075612  0.089789  0.096845
AVGO   0.264477  0.302240  0.079215
XOM    0.038722  0.005495 -0.062889
ACN    0.192269  0.219305  0.183262
QCOM  -0.084193 -0.235849  0.251748
COST   0.053341  0.113532  0.195769
CVX    0.032892 -0.031216 -0.147764
LLY   -0.069780 -0.176102  0.445983
MCD         NaN       NaN -0.004378
DHR    0.102547  0.095771  0.156642
MDT    0.107550  0.001015 -0.002921
NEE    0.097554  0.116302  0.044791
TXN    0.006749 -0.014960 -0.056191
HON    0.068781  0.023660  0.018735
UPS   -0.027983  0.242682 -0.001538